In [3]:
# Reload XPT files by auto-discovering available files and sanitize filenames if needed
from pathlib import Path
DATA_DIR = Path("2433_p3_data/healthcare.gov")
# sanitize filenames: trim leading/trailing whitespace in filenames on disk (fix common mistake)
for p in sorted(DATA_DIR.iterdir()):
    # skip directories
    if not p.is_file():
        continue
    name = p.name
    stripped = name.strip()
    if name != stripped:
        newp = p.with_name(stripped)
        if newp.exists():
            print(f"Warning: cannot sanitize '{name}' -> '{stripped}' because target exists.")
        else:
            try:
                p.rename(newp)
                print(f"Renamed file: '{name}' -> '{stripped}'")
            except Exception as e:
                print(f"Failed to rename '{name}': {e}")

# discover XPT files (case-insensitive suffix) and sort
xpt_files = sorted([p for p in DATA_DIR.iterdir() if p.is_file() and p.suffix.lower() == '.xpt'])
filenames = [p.name for p in xpt_files]
if not filenames:
    print(f"No XPT files found under {DATA_DIR}. Check path and filenames.")
else:
    print(f"Discovered XPT files: {filenames}")

# reader: prefer pyreadstat if available
try:
    import pyreadstat
    def read_xpt(p):
        df, meta = pyreadstat.read_xport(str(p))
        return df, meta
    reader_name = "pyreadstat"
except Exception:
    import pandas as pd
    def read_xpt(p):
        df = pd.read_sas(str(p), format='xport', encoding='utf-8')
        return df, None
    reader_name = "pandas.read_sas (fallback)"

print(f"Using reader: {reader_name}")

data_reloaded = {}
for fname in filenames:
    path = DATA_DIR / fname
    if not path.exists():
        print(f"Missing: {path} (skipping)")
        continue
    print(f"Reading {fname}...")
    try:
        df_meta = read_xpt(path)
        # reader may return (df, meta) or df only
        if isinstance(df_meta, tuple):
            df, meta = df_meta
        else:
            df = df_meta
            meta = None
    except Exception as e:
        print(f"Failed to read {fname}: {e}")
        continue
    data_reloaded[fname.replace('.XPT','')] = df

print(f"Loaded {len(data_reloaded)} datasets into data_reloaded: {list(data_reloaded.keys())}")

# Quick previews
from IPython.display import display
for name, df in data_reloaded.items():
    print(f"\n{name}: shape={df.shape}")
    display(df.head(3))

Renamed file: 'LLCP2018.XPT ' -> 'LLCP2018.XPT'
Renamed file: 'LLCP2019.XPT ' -> 'LLCP2019.XPT'
Discovered XPT files: ['LLCP2018.XPT', 'LLCP2019.XPT', 'LLCP2020.XPT', 'LLCP2021.XPT', 'LLCP2022.XPT', 'LLCP2023.XPT', 'LLCP2024.XPT']
Using reader: pandas.read_sas (fallback)
Reading LLCP2018.XPT...
Reading LLCP2019.XPT...
Reading LLCP2019.XPT...
Reading LLCP2020.XPT...
Reading LLCP2020.XPT...
Reading LLCP2021.XPT...
Reading LLCP2021.XPT...
Reading LLCP2022.XPT...
Reading LLCP2022.XPT...
Reading LLCP2023.XPT...
Reading LLCP2023.XPT...
Reading LLCP2024.XPT...
Reading LLCP2024.XPT...
Loaded 7 datasets into data_reloaded: ['LLCP2018', 'LLCP2019', 'LLCP2020', 'LLCP2021', 'LLCP2022', 'LLCP2023', 'LLCP2024']

LLCP2018: shape=(437436, 275)
Loaded 7 datasets into data_reloaded: ['LLCP2018', 'LLCP2019', 'LLCP2020', 'LLCP2021', 'LLCP2022', 'LLCP2023', 'LLCP2024']

LLCP2018: shape=(437436, 275)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_MAM5022,_RFPAP34,_RFPSA22,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
0,1.0,1.0,01052018,01,05,2018,1100.0,2018000001,2.018000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,1.0,1.0,01122018,01,12,2018,1100.0,2018000002,2.018000e+09,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,1.0,1.0,01082018,01,08,2018,1100.0,2018000003,2.018000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

LLCP2019: shape=(418268, 342)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,01182019,01,18,2019,1100.0,2019000001,2.019000e+09,1.0,...,114.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,2.0,1.0,2.0
1,1.0,1.0,01132019,01,13,2019,1100.0,2019000002,2.019000e+09,1.0,...,121.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,1.0,2.0
2,1.0,1.0,01182019,01,18,2019,1100.0,2019000003,2.019000e+09,1.0,...,164.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0,2.0,2.0

LLCP2020: shape=(401958, 279)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0

LLCP2021: shape=(438693, 303)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,01192021,01,19,2021,1100.0,2021000001,2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,01212021,01,21,2021,1100.0,2021000002,2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,01212021,01,21,2021,1100.0,2021000003,2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79

LLCP2022: shape=(445132, 328)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0

LLCP2023: shape=(433323, 350)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,03012023,03,01,2023,1100.0,2023000001,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,01062023,01,06,2023,1100.0,2023000002,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,03082023,03,08,2023,1100.0,2023000003,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0

LLCP2024: shape=(457670, 301)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,02282024,02,28,2024,1100.0,2024000001,2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,02212024,02,21,2024,1100.0,2024000002,2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,02212024,02,21,2024,1100.0,2024000003,2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0

In [ ]:
# Quick-check checklist for XPT datasets (run-able cell)
# Purpose: inspect presence and quality of key BRFSS variables to guide downstream cleaning & aggregation.
import numpy as np
import pandas as pd
from pathlib import Path
from IPython.display import display

DATA_DIR = Path("2433_p3_data/healthcare.gov")
print("Quick-check: looking for loaded datasets or attempting to load LLCP2018-2024")

datasets = globals().get('data_reloaded')
if datasets is None:
    datasets = {}
    # try to load using existing reader functions if available in globals
    reader = globals().get('read_xpt')
    if reader is None:
        try:
            import pyreadstat
            def _read(path):
                df, meta = pyreadstat.read_xport(str(path))
                return df, meta
            reader = _read
            print("Using pyreadstat to load files")
        except Exception:
            import pandas as pd
            def _read(path):
                df = pd.read_sas(str(path), format='xport', encoding='utf-8')
                return df, None
            reader = _read
            print("Using pandas.read_sas to load files")

    # Attempt to load LLCP2018 through LLCP2024 (inclusive)
    filenames = [f"LLCP{y}.XPT" for y in range(2018, 2025)]
    for fn in filenames:
        p = DATA_DIR / fn
        if p.exists():
            try:
                df_meta = reader(p)
                # reader may return (df, meta) or df only
                if isinstance(df_meta, tuple):
                    df, meta = df_meta
                else:
                    df = df_meta
                    meta = None
                datasets[fn.replace('.XPT','')] = df
                print(f"Loaded {fn}: shape={df.shape}")
            except Exception as e:
                print(f"Failed to load {fn}: {e}")
        else:
            print(f"Missing file: {p}")
else:
    print(f"Found in-memory datasets: {list(datasets.keys())}")

# define key columns to inspect
key_cols = ['IYEAR','_STATE','_LLCPWT','_BMI5','_BMI5CAT','_RFBMI5','SMOKE100','SMOKDAY2','DIABETE4','_PSU','_STSTR','HHADULT','CHILDREN','_CHLDCNT']

for name, df in datasets.items():
    print('\n' + '='*80)
    print(f"Dataset: {name}  shape={getattr(df,'shape',None)}")
    cols = list(df.columns)
    print(f"Total columns: {len(cols)}")

    # check key cols presence
    presence = {c: (c in cols) for c in key_cols}
    print("Key columns present:")
    for c,v in presence.items():
        print(f"  {c}: {v}")

    # show head
    print("\nFirst 3 rows:")
    try:
        display(df.head(3))
    except Exception:
        print(df.head(3))

    # missing rates for present key cols
    present = [c for c in key_cols if c in cols]
    if present:
        print("\nMissing rates for key cols:")
        for c in present:
            try:
                rate = df[c].isna().mean()
                print(f"  {c}: {rate:.3%}")
            except Exception as e:
                print(f"  {c}: error computing missing rate: {e}")

    # BMI handling
    if '_BMI5' in df.columns:
        try:
            s = df['_BMI5'].replace({9999: np.nan}).astype(float)
            print('\n_BMI5 raw summary:')
            print(s.describe())
            bmi = s.dropna() / 100.0
            print('\nComputed BMI (after /100) summary:')
            print(bmi.describe())
        except Exception as e:
            print(f"Error processing _BMI5: {e}")
    if '_BMI5CAT' in df.columns:
        print('\n_BMI5CAT value counts (top 10):')
        print(df['_BMI5CAT'].value_counts(dropna=False).head(10))

    # Smoking
    for col in ('SMOKE100','SMOKDAY2'):
        if col in df.columns:
            print(f"\n{col} value counts (top 10):")
            try:
                print(df[col].value_counts(dropna=False).head(10))
            except Exception as e:
                print(f"  error: {e}")

    # Diabetes
    if 'DIABETE4' in df.columns:
        print("\nDIABETE4 value counts (top 10):")
        print(df['DIABETE4'].value_counts(dropna=False).head(10))

    # weight
    if '_LLCPWT' in df.columns:
        print('\n_LLCPTW summary:')
        try:
            print(df['_LLCPWT'].describe())
            print('Total weight sum:', df['_LLCPWT'].sum())
        except Exception as e:
            print(f"Error inspecting _LLCPWT: {e}")

    # year and state distributions
    if 'IYEAR' in df.columns:
        print('\nIYEAR distribution:')
        try:
            print(df['IYEAR'].value_counts().sort_index())
        except Exception as e:
            print(f"Error with IYEAR: {e}")
    if '_STATE' in df.columns:
        print('\n_STATE top 10:')
        print(df['_STATE'].value_counts().head(10))

    # age-like columns
    age_cols = [c for c in df.columns if 'AGE' in c.upper()]
    if age_cols:
        print('\nAge-like columns found:', age_cols)
        for ac in age_cols:
            print(f"\n{ac} value counts (top 10):")
            try:
                print(df[ac].value_counts(dropna=False).head(10))
            except Exception as e:
                print(f"  error: {e}")
    
    # Household composition variables
    if 'HHADULT' in df.columns:
        print('\nHHADULT (Number of adults in household) value counts (top 15):')
        try:
            print(df['HHADULT'].value_counts(dropna=False).head(15))
            print(f'\nHHADULT summary stats:')
            # Filter valid values (1-76)
            valid_adults = df['HHADULT'].apply(lambda x: x if (pd.notna(x) and 1 <= x <= 76) else np.nan)
            print(valid_adults.describe())
        except Exception as e:
            print(f"  error: {e}")
    
    if 'CHILDREN' in df.columns:
        print('\nCHILDREN (Number of children in household) value counts (top 15):')
        try:
            print(df['CHILDREN'].value_counts(dropna=False).head(15))
            print(f'\nCHILDREN summary stats:')
            # 88 = None (0 children), 1-87 = count
            clean_children = df['CHILDREN'].apply(lambda x: 0 if x == 88 else (x if (pd.notna(x) and 1 <= x <= 87) else np.nan))
            print(clean_children.describe())
            print(f'\nHouseholds with children (CHILDREN != 88): {(df["CHILDREN"] != 88).sum():,} ({(df["CHILDREN"] != 88).mean():.2%})')
        except Exception as e:
            print(f"  error: {e}")
    
    if '_CHLDCNT' in df.columns:
        print('\n_CHLDCNT (Computed children count) value counts (top 10):')
        try:
            print(df['_CHLDCNT'].value_counts(dropna=False).head(10))
        except Exception as e:
            print(f"  error: {e}")

print('\nQuick-check finished.')

Quick-check: looking for loaded datasets or attempting to load LLCP2020-2024
Found in-memory datasets: ['LLCP2020', 'LLCP2021', 'LLCP2022', 'LLCP2023', 'LLCP2024']

================================================================================
Dataset: LLCP2020  shape=(401958, 279)
Total columns: 279
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0

Missing rates for key cols:
  IYEAR: 0.000%
  _STATE: 0.000%
  _LLCPWT: 0.000%
  _BMI5: 10.289%
  _BMI5CAT: 10.289%
  _RFBMI5: 0.000%
  SMOKE100: 4.443%
  SMOKDAY2: 61.032%
  DIABETE4: 0.001%
  _PSU: 0.000%
  _STSTR: 0.000%
  HHADULT: 31.036%
  CHILDREN: 1.186%
  _CHLDCNT: 0.000%

_BMI5 raw summary:
count    360601.000000
mean       2830.631271
std         638.164868
min        1202.000000
25%        2399.000000
50%        2732.000000
75%        3138.000000
max        9843.000000
Name: _BMI5, dtype: float64

Computed BMI (after /100) summary:
count    360601.000000
mean         28.306313
std           6.381649
min          12.020000
25%          23.990000
50%          27.320000
75%          31.380000
max          98.430000
Name: _BMI5, dtype: float64

_BMI5CAT value counts (top 10):
_BMI5CAT
3.0    128946
4.0    115541
2.0    110121
NaN     41357
1.0      5993
Name: count, dtype: int64

SMOKE100 value counts (top 10):
SMOKE100
2.0    224535
1.0    156750
NaN     17860
7.0      2178
9.0       635
Name: count, dtype: int64

SMOKDAY2 value counts (top 10):
SMOKDAY2
NaN    245324
3.0    103835
1.0     38152
2.0     14336
9.0       220
7.0        91
Name: count, dtype: int64

DIABETE4 value counts (top 10):
DIABETE4
3.0    337064
1.0     52094
4.0      8612
2.0      3374
7.0       488
9.0       320
NaN         6
Name: count, dtype: int64

_LLCPTW summary:
count    401958.000000
mean        647.849949
std        1418.402069
min           0.958278
25%         113.404273
50%         282.287914
75%         663.936641
max       83193.322093
Name: _LLCPWT, dtype: float64
Total weight sum: 260408469.99999997

IYEAR distribution:
IYEAR
2020    389826
2021     12132
Name: count, dtype: int64

_STATE top 10:
_STATE
27.0    15835
31.0    14796
36.0    14769
39.0    14676
24.0    14292
53.0    12902
12.0    11799
34.0    11382
48.0    11042
23.0    11015
Name: count, dtype: int64

Age-like columns found: ['DIABAGE3', 'CNCRAGE', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G']

DIABAGE3 value counts (top 10):
DIABAGE3
NaN     349864
50.0      4770
60.0      3680
98.0      3178
55.0      3146
40.0      2943
45.0      2446
65.0      2026
70.0      1410
35.0      1354
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     379265
60.0      1263
50.0      1254
98.0      1142
65.0      1076
55.0       926
70.0       924
40.0       726
45.0       648
62.0       607
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    41570
9.0     41151
11.0    37972
8.0     36219
13.0    31456
7.0     31110
12.0    26607
6.0     26428
5.0     25729
1.0     25648
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    256096
2.0    137605
3.0      8257
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    31459
65.0     9457
60.0     8925
70.0     8773
62.0     8684
68.0     8658
66.0     8617
67.0     8581
63.0     8381
64.0     8333
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    139831
5.0     78089
4.0     62033
3.0     51971
2.0     44382
1.0     25652
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     137783
NaN     124753
1.0      65688
3.0      42526
4.0      19846
5.0       6273
6.0       1905
99.0      1416
7.0        648
77.0       452
8.0        262
10.0       124
9.0         89
12.0        50
11.0        37
Name: count, dtype: int64

HHADULT summary stats:
count    275337.000000
mean          2.188464
std           1.115415
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          54.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    289105
1.0      43345
2.0      36227
3.0      15832
4.0       5874
NaN       4767
99.0      3651
5.0       1885
6.0        739
7.0        268
8.0        124
9.0         49
10.0        35
12.0        10
11.0        10
Name: count, dtype: int64

CHILDREN summary stats:
count    393540.000000
mean          0.522752
std           1.113597
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          82.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 112,853 (28.08%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    289105
2.0     43345
3.0     36227
4.0     15832
9.0      8418
5.0      5874
6.0      3157
Name: count, dtype: int64

================================================================================
Dataset: LLCP2021  shape=(438693, 303)
Total columns: 303
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:
count    275337.000000
mean          2.188464
std           1.115415
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          54.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    289105
1.0      43345
2.0      36227
3.0      15832
4.0       5874
NaN       4767
99.0      3651
5.0       1885
6.0        739
7.0        268
8.0        124
9.0         49
10.0        35
12.0        10
11.0        10
Name: count, dtype: int64

CHILDREN summary stats:
count    393540.000000
mean          0.522752
std           1.113597
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          82.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 112,853 (28.08%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    289105
2.0     43345
3.0     36227
4.0     15832
9.0      8418
5.0      5874
6.0      3157
Name: count, dtype: int64

================================================================================
Dataset: LLCP2021  shape=(438693, 303)
Total columns: 303
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,01192021,01,19,2021,1100.0,2021000001,2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,01212021,01,21,2021,1100.0,2021000002,2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,01212021,01,21,2021,1100.0,2021000003,2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79

Missing rates for key cols:
  IYEAR: 0.000%
  _STATE: 0.000%
  _LLCPWT: 0.000%
  _BMI5: 10.680%
  _BMI5CAT: 10.680%
  _RFBMI5: 0.000%
  SMOKE100: 4.840%
  SMOKDAY2: 61.829%
  DIABETE4: 0.001%
  _PSU: 0.000%
  _STSTR: 0.000%
  HHADULT: 26.850%
  CHILDREN: 1.398%
  _CHLDCNT: 0.000%

_BMI5 raw summary:
count    391841.000000
mean       2855.226495
std         655.194977
min        1200.000000
25%        2414.000000
50%        2744.000000
75%        3174.000000
max        9933.000000
Name: _BMI5, dtype: float64

Computed BMI (after /100) summary:
count    391841.000000
mean         28.552265
std           6.551950
min          12.000000
25%          24.140000
50%          27.440000
75%          31.740000
max          99.330000
Name: _BMI5, dtype: float64

_BMI5CAT value counts (top 10):
_BMI5CAT
3.0    138760
4.0    131305
2.0    115489
NaN     46852
1.0      6287
Name: count, dtype: int64

SMOKE100 value counts (top 10):
SMOKE100
2.0    246644
1.0    167588
NaN     21232
7.0      2298
9.0       931
Name: count, dtype: int64

SMOKDAY2 value counts (top 10):
SMOKDAY2
NaN    271240
3.0    113247
1.0     38913
2.0     14919
9.0       248
7.0       126
Name: count, dtype: int64

DIABETE4 value counts (top 10):
DIABETE4
3.0    366342
1.0     57616
4.0      9942
2.0      3808
7.0       613
9.0       369
NaN         3
Name: count, dtype: int64

_LLCPTW summary:
count    438693.000000
mean        560.851529
std        1136.781547
min           0.545800
25%          95.573000
50%         248.677287
75%         592.546811
max       49028.547012
Name: _LLCPWT, dtype: float64
Total weight sum: 246041640.00000006

IYEAR distribution:
IYEAR
2021    415185
2022     23508
Name: count, dtype: int64

_STATE top 10:
_STATE
36.0    39095
20.0    17565
27.0    15959
24.0    15627
31.0    14923
39.0    14308
53.0    13142
29.0    12266
23.0    11808
48.0    10815
Name: count, dtype: int64

Age-like columns found: ['DIABAGE3', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G']

DIABAGE3 value counts (top 10):
DIABAGE3
NaN     381078
50.0      5398
98.0      4325
60.0      3936
55.0      3395
40.0      3390
45.0      2877
65.0      2205
35.0      1493
70.0      1472
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     428896
50.0       579
60.0       554
65.0       478
55.0       415
70.0       387
98.0       355
40.0       313
45.0       279
75.0       250
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    390113
3.0     14332
4.0     11839
2.0     11747
1.0     10662
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    45762
9.0     44298
11.0    42920
8.0     38009
13.0    34507
7.0     34086
12.0    29747
5.0     29435
4.0     28559
6.0     28391
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    276150
2.0    152936
3.0      9607
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    34516
65.0    10135
70.0     9907
67.0     9514
60.0     9441
68.0     9340
62.0     9252
69.0     9246
66.0     9154
64.0     9066
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    155628
5.0     82895
4.0     67980
3.0     58762
2.0     47401
1.0     26027
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     162045
NaN     117788
1.0      78084
3.0      46485
4.0      21335
5.0       6761
6.0       2070
99.0      1942
77.0       705
7.0        683
8.0        287
10.0       131
9.0        111
12.0        86
13.0        37
Name: count, dtype: int64

HHADULT summary stats:
DIABAGE3
NaN     381078
50.0      5398
98.0      4325
60.0      3936
55.0      3395
40.0      3390
45.0      2877
65.0      2205
35.0      1493
70.0      1472
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     428896
50.0       579
60.0       554
65.0       478
55.0       415
70.0       387
98.0       355
40.0       313
45.0       279
75.0       250
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    390113
3.0     14332
4.0     11839
2.0     11747
1.0     10662
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    45762
9.0     44298
11.0    42920
8.0     38009
13.0    34507
7.0     34086
12.0    29747
5.0     29435
4.0     28559
6.0     28391
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    276150
2.0    152936
3.0      9607
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    34516
65.0    10135
70.0     9907
67.0     9514
60.0     9441
68.0     9340
62.0     9252
69.0     9246
66.0     9154
64.0     9066
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    155628
5.0     82895
4.0     67980
3.0     58762
2.0     47401
1.0     26027
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     162045
NaN     117788
1.0      78084
3.0      46485
4.0      21335
5.0       6761
6.0       2070
99.0      1942
77.0       705
7.0        683
8.0        287
10.0       131
9.0        111
12.0        86
13.0        37
Name: count, dtype: int64

HHADULT summary stats:
count    318258.000000
mean          2.156668
std           1.096613
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          44.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    317258
1.0      46250
2.0      38985
3.0      16345
NaN       6135
4.0       5982
99.0      4560
5.0       1917
6.0        733
7.0        288
8.0        107
9.0         51
10.0        30
11.0         8
12.0         8
Name: count, dtype: int64

CHILDREN summary stats:
count    318258.000000
mean          2.156668
std           1.096613
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          44.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    317258
1.0      46250
2.0      38985
3.0      16345
NaN       6135
4.0       5982
99.0      4560
5.0       1917
6.0        733
7.0        288
8.0        107
9.0         51
10.0        30
11.0         8
12.0         8
Name: count, dtype: int64

CHILDREN summary stats:
count    427998.000000
mean          0.504853
std           1.078612
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          83.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 121,435 (27.68%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    317258
2.0     46250
3.0     38985
4.0     16345
9.0     10695
5.0      5982
6.0      3178
Name: count, dtype: int64

================================================================================
Dataset: LLCP2022  shape=(445132, 328)
Total columns: 328
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:
count    427998.000000
mean          0.504853
std           1.078612
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          83.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 121,435 (27.68%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    317258
2.0     46250
3.0     38985
4.0     16345
9.0     10695
5.0      5982
6.0      3178
Name: count, dtype: int64

================================================================================
Dataset: LLCP2022  shape=(445132, 328)
Total columns: 328
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0

Missing rates for key cols:
  IYEAR: 0.000%
  _STATE: 0.000%
  _LLCPWT: 0.000%
  _BMI5: 10.964%
  _BMI5CAT: 10.964%
  _RFBMI5: 0.000%
  SMOKE100: 7.139%
  SMOKDAY2: 63.145%
  DIABETE4: 0.001%
  _PSU: 0.000%
  _STSTR: 0.000%
  HHADULT: 21.580%
  CHILDREN: 2.092%
  _CHLDCNT: 0.000%

_BMI5 raw summary:
count    396326.000000
mean       2852.984182
std         655.488867
min        1202.000000
25%        2413.000000
50%        2744.000000
75%        3175.000000
max        9964.000000
Name: _BMI5, dtype: float64

Computed BMI (after /100) summary:
count    396326.000000
mean         28.529842
std           6.554889
min          12.020000
25%          24.130000
50%          27.440000
75%          31.750000
max          99.640000
Name: _BMI5, dtype: float64

_BMI5CAT value counts (top 10):
_BMI5CAT
3.0    139995
4.0    132577
2.0    116976
NaN     48806
1.0      6778
Name: count, dtype: int64

SMOKE100 value counts (top 10):
SMOKE100
2.0    245955
1.0    164217
NaN     31777
7.0      2297
9.0       886
Name: count, dtype: int64

SMOKDAY2 value counts (top 10):
SMOKDAY2
NaN    281079
3.0    113774
1.0     36003
2.0     13938
9.0       173
7.0       165
Name: count, dtype: int64

DIABETE4 value counts (top 10):
DIABETE4
3.0    368722
1.0     61158
4.0     10329
2.0      3836
7.0       763
9.0       321
NaN         3
Name: count, dtype: int64

_LLCPTW summary:
count    445132.000000
mean        594.856344
std        1134.837415
min           0.020464
25%         115.885991
50%         274.632388
75%         627.913694
max       54390.520926
Name: _LLCPWT, dtype: float64
Total weight sum: 264789593.99999994

IYEAR distribution:
IYEAR
2022    419473
2023     25659
Name: count, dtype: int64

_STATE top 10:
_STATE
53.0    26152
36.0    17800
27.0    16821
39.0    16487
24.0    16418
48.0    14245
12.0    13393
55.0    11276
20.0    11247
25.0    11029
Name: count, dtype: int64

Age-like columns found: ['DIABAGE4', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G']

DIABAGE4 value counts (top 10):
DIABAGE4
NaN     383973
50.0      5493
60.0      4341
98.0      3706
55.0      3589
40.0      3567
45.0      2901
65.0      2420
35.0      1581
70.0      1562
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     422567
60.0      1228
50.0      1178
98.0      1023
65.0       997
55.0       930
70.0       858
40.0       691
45.0       665
62.0       590
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    394956
3.0     14610
4.0     12294
2.0     11901
1.0     11371
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    47099
9.0     44511
11.0    43472
8.0     36821
13.0    36251
7.0     33644
12.0    32518
5.0     29942
6.0     28531
4.0     28526
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    276713
2.0    159340
3.0      9079
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    36253
65.0    10421
70.0    10371
67.0     9652
68.0     9351
62.0     9262
72.0     9212
66.0     9191
64.0     9174
60.0     9155
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    161451
5.0     82740
4.0     66984
3.0     59174
2.0     47840
1.0     26943
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     172161
NaN      96061
1.0      86065
3.0      51956
4.0      23790
5.0       7551
99.0      2544
6.0       2351
77.0       880
7.0        784
8.0        338
10.0       166
9.0        148
12.0        95
13.0        51
Name: count, dtype: int64

HHADULT summary stats:
count    345640.000000
mean          2.168175
std           1.141222
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          60.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    321907
1.0      46241
2.0      37923
3.0      15975
NaN       9312
4.0       5521
99.0      5152
5.0       1780
6.0        756
7.0        261
8.0        122
9.0         51
10.0        50
11.0        13
12.0        13
Name: count, dtype: int64

CHILDREN summary stats:
count    430667.000000
mean          0.489555
std           1.048673
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          82.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 123,225 (27.68%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    321907
2.0     46241
3.0     37923
4.0     15975
9.0     14464
5.0      5521
6.0      3100
NaN         1
Name: count, dtype: int64

================================================================================
Dataset: LLCP2023  shape=(433323, 350)
Total columns: 350
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:
count    345640.000000
mean          2.168175
std           1.141222
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          60.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    321907
1.0      46241
2.0      37923
3.0      15975
NaN       9312
4.0       5521
99.0      5152
5.0       1780
6.0        756
7.0        261
8.0        122
9.0         51
10.0        50
11.0        13
12.0        13
Name: count, dtype: int64

CHILDREN summary stats:
count    430667.000000
mean          0.489555
std           1.048673
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          82.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 123,225 (27.68%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    321907
2.0     46241
3.0     37923
4.0     15975
9.0     14464
5.0      5521
6.0      3100
NaN         1
Name: count, dtype: int64

================================================================================
Dataset: LLCP2023  shape=(433323, 350)
Total columns: 350
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,03012023,03,01,2023,1100.0,2023000001,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,01062023,01,06,2023,1100.0,2023000002,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,03082023,03,08,2023,1100.0,2023000003,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0

Missing rates for key cols:
  IYEAR: 0.000%
  _STATE: 0.000%
  _LLCPWT: 0.000%
  _BMI5: 9.354%
  _BMI5CAT: 9.354%
  _RFBMI5: 0.000%
  SMOKE100: 4.540%
  SMOKDAY2: 63.390%
  DIABETE4: 0.001%
  _PSU: 0.000%
  _STSTR: 0.000%
  HHADULT: 20.389%
  CHILDREN: 1.175%
  _CHLDCNT: 0.000%

_BMI5 raw summary:
count    392788.000000
mean       2847.928783
std         654.197490
min        1202.000000
25%        2410.000000
50%        2740.000000
75%        3162.000000
max        9984.000000
Name: _BMI5, dtype: float64

Computed BMI (after /100) summary:
count    392788.000000
mean         28.479288
std           6.541975
min          12.020000
25%          24.100000
50%          27.400000
75%          31.620000
max          99.840000
Name: _BMI5, dtype: float64

_BMI5CAT value counts (top 10):
_BMI5CAT
3.0    139615
4.0    129906
2.0    116500
NaN     40535
1.0      6767
Name: count, dtype: int64

SMOKE100 value counts (top 10):
SMOKE100
2.0    251981
1.0    158774
NaN     19674
7.0      2251
9.0       643
Name: count, dtype: int64

SMOKDAY2 value counts (top 10):
SMOKDAY2
NaN    274684
3.0    113134
1.0     31770
2.0     13376
9.0       198
7.0       161
Name: count, dtype: int64

DIABETE4 value counts (top 10):
DIABETE4
3.0    358706
1.0     59786
4.0     10594
2.0      3253
7.0       683
9.0       296
NaN         5
Name: count, dtype: int64

_LLCPTW summary:
count    433323.000000
mean        586.490514
std        1190.719872
min           0.159104
25%         103.366483
50%         258.271915
75%         604.551174
max       69785.820912
Name: _LLCPWT, dtype: float64
Total weight sum: 254139829.00000003

IYEAR distribution:
IYEAR
2023    408012
2024     25311
Name: count, dtype: int64

_STATE top 10:
_STATE
53.0    26444
36.0    17349
24.0    17255
27.0    16170
39.0    13384
12.0    13255
31.0    12886
55.0    12819
23.0    12255
4.0     12036
Name: count, dtype: int64

Age-like columns found: ['DIABAGE4', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G']

DIABAGE4 value counts (top 10):
DIABAGE4
NaN     373537
50.0      5552
98.0      4284
60.0      4090
55.0      3604
40.0      3438
45.0      2972
65.0      2357
70.0      1626
35.0      1527
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     416694
60.0       954
50.0       919
98.0       821
65.0       742
70.0       714
55.0       692
40.0       512
62.0       444
45.0       442
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    391398
3.0     12275
4.0     10389
2.0      9961
1.0      9300
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    46099
11.0    43533
9.0     41974
13.0    38869
12.0    34543
8.0     34219
7.0     31291
5.0     28463
4.0     27153
6.0     27070
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    262500
2.0    163044
3.0      7779
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    38884
65.0    10050
70.0     9984
72.0     9437
67.0     9393
68.0     9171
66.0     9081
62.0     8853
73.0     8825
69.0     8703
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    164955
5.0     77938
4.0     61848
3.0     56224
2.0     46077
1.0     26281
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     170681
NaN      88349
1.0      87565
3.0      49152
4.0      23069
5.0       7434
6.0       2360
99.0      2134
77.0       989
7.0        763
8.0        322
10.0       162
9.0        128
12.0        64
11.0        45
Name: count, dtype: int64

HHADULT summary stats:
count    433323.000000
mean        586.490514
std        1190.719872
min           0.159104
25%         103.366483
50%         258.271915
75%         604.551174
max       69785.820912
Name: _LLCPWT, dtype: float64
Total weight sum: 254139829.00000003

IYEAR distribution:
IYEAR
2023    408012
2024     25311
Name: count, dtype: int64

_STATE top 10:
_STATE
53.0    26444
36.0    17349
24.0    17255
27.0    16170
39.0    13384
12.0    13255
31.0    12886
55.0    12819
23.0    12255
4.0     12036
Name: count, dtype: int64

Age-like columns found: ['DIABAGE4', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G']

DIABAGE4 value counts (top 10):
DIABAGE4
NaN     373537
50.0      5552
98.0      4284
60.0      4090
55.0      3604
40.0      3438
45.0      2972
65.0      2357
70.0      1626
35.0      1527
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     416694
60.0       954
50.0       919
98.0       821
65.0       742
70.0       714
55.0       692
40.0       512
62.0       444
45.0       442
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    391398
3.0     12275
4.0     10389
2.0      9961
1.0      9300
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    46099
11.0    43533
9.0     41974
13.0    38869
12.0    34543
8.0     34219
7.0     31291
5.0     28463
4.0     27153
6.0     27070
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    262500
2.0    163044
3.0      7779
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    38884
65.0    10050
70.0     9984
72.0     9437
67.0     9393
68.0     9171
66.0     9081
62.0     8853
73.0     8825
69.0     8703
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    164955
5.0     77938
4.0     61848
3.0     56224
2.0     46077
1.0     26281
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     170681
NaN      88349
1.0      87565
3.0      49152
4.0      23069
5.0       7434
6.0       2360
99.0      2134
77.0       989
7.0        763
8.0        322
10.0       162
9.0        128
12.0        64
11.0        45
Name: count, dtype: int64

HHADULT summary stats:
count    341851.000000
mean          2.146508
std           1.099396
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max          52.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    319209
1.0      44663
2.0      36925
3.0      14954
4.0       5517
NaN       5092
99.0      3994
5.0       1784
6.0        696
7.0        261
8.0        106
10.0        35
9.0         28
12.0        14
11.0         9
Name: count, dtype: int64

CHILDREN summary stats:
count    341851.000000
mean          2.146508
std           1.099396
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max          52.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    319209
1.0      44663
2.0      36925
3.0      14954
4.0       5517
NaN       5092
99.0      3994
5.0       1784
6.0        696
7.0        261
8.0        106
10.0        35
9.0         28
12.0        14
11.0         9
Name: count, dtype: int64

CHILDREN summary stats:
count    424237.000000
mean          0.478440
std           1.030718
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          81.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 114,114 (26.33%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    319209
2.0     44663
3.0     36925
4.0     14954
9.0      9086
5.0      5517
6.0      2969
Name: count, dtype: int64

================================================================================
Dataset: LLCP2024  shape=(457670, 301)
Total columns: 301
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:
count    424237.000000
mean          0.478440
std           1.030718
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          81.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 114,114 (26.33%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    319209
2.0     44663
3.0     36925
4.0     14954
9.0      9086
5.0      5517
6.0      2969
Name: count, dtype: int64

================================================================================
Dataset: LLCP2024  shape=(457670, 301)
Total columns: 301
Key columns present:
  IYEAR: True
  _STATE: True
  _LLCPWT: True
  _BMI5: True
  _BMI5CAT: True
  _RFBMI5: True
  SMOKE100: True
  SMOKDAY2: True
  DIABETE4: True
  _PSU: True
  _STSTR: True
  HHADULT: True
  CHILDREN: True
  _CHLDCNT: True

First 3 rows:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,02282024,02,28,2024,1100.0,2024000001,2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,02212024,02,21,2024,1100.0,2024000002,2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,02212024,02,21,2024,1100.0,2024000003,2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0

Missing rates for key cols:
  IYEAR: 0.000%
  _STATE: 0.000%
  _LLCPWT: 0.000%
  _BMI5: 9.404%
  _BMI5CAT: 9.404%
  _RFBMI5: 0.000%
  SMOKE100: 6.306%
  SMOKDAY2: 63.494%
  DIABETE4: 0.001%
  _PSU: 0.000%
  _STSTR: 0.000%
  HHADULT: 17.908%
  CHILDREN: 1.225%
  _CHLDCNT: 0.000%

_BMI5 raw summary:
count    414633.000000
mean       2855.680093
std         658.616131
min        1200.000000
25%        2414.000000
50%        2744.000000
75%        3175.000000
max        9984.000000
Name: _BMI5, dtype: float64

Computed BMI (after /100) summary:
count    414633.000000
mean         28.556801
std           6.586161
min          12.000000
25%          24.140000
50%          27.440000
75%          31.750000
max          99.840000
Name: _BMI5, dtype: float64

_BMI5CAT value counts (top 10):
_BMI5CAT
3.0    146563
4.0    139640
2.0    121053
NaN     43037
1.0      7377
Name: count, dtype: int64

SMOKE100 value counts (top 10):
SMOKE100
2.0    258956
1.0    167242
NaN     28860
7.0      2062
9.0       550
Name: count, dtype: int64

SMOKDAY2 value counts (top 10):
SMOKDAY2
NaN    290594
3.0    119598
1.0     33118
2.0     13976
7.0       194
9.0       190
Name: count, dtype: int64

DIABETE4 value counts (top 10):
DIABETE4
3.0    376125
1.0     65809
4.0     11307
2.0      3395
7.0       798
9.0       232
NaN         4
Name: count, dtype: int64

_LLCPTW summary:
count    457670.000000
mean        576.361549
std        1171.591566
min           0.012286
25%         106.608408
50%         263.739622
75%         581.612255
max       49582.191041
Name: _LLCPWT, dtype: float64
Total weight sum: 263783389.99999994

IYEAR distribution:
IYEAR
2024    438117
2025     19553
Name: count, dtype: int64

_STATE top 10:
_STATE
36.0    43913
53.0    25800
27.0    15199
24.0    14462
55.0    13096
12.0    13086
18.0    13050
49.0    12782
31.0    12671
48.0    12291
Name: count, dtype: int64

Age-like columns found: ['DIABAGE4', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', '_LCSAGE']

DIABAGE4 value counts (top 10):
DIABAGE4
NaN     391861
50.0      5936
60.0      4506
98.0      3897
40.0      3801
55.0      3794
45.0      3084
65.0      2632
70.0      1774
35.0      1686
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     443222
60.0       851
50.0       777
98.0       687
65.0       646
55.0       617
70.0       588
40.0       477
75.0       405
45.0       380
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    409465
3.0     13973
4.0     11715
2.0     11458
1.0     11059
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    47701
11.0    44774
9.0     43387
13.0    41756
12.0    36803
8.0     34936
7.0     31698
5.0     30899
1.0     29692
6.0     28968
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    278326
2.0    171034
3.0      8310
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    41770
70.0    10484
65.0    10386
67.0     9810
68.0     9483
72.0     9440
62.0     9177
66.0     9124
60.0     9066
69.0     9062
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    172826
5.0     80280
4.0     64458
3.0     60418
2.0     49994
1.0     29694
Name: count, dtype: int64

_LCSAGE value counts (top 10):
_LCSAGE
2.0    252132
1.0    169855
3.0     35683
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     182543
1.0      96588
NaN      81961
3.0      53756
4.0      26067
5.0       8557
6.0       2788
99.0      2231
77.0      1248
7.0        911
8.0        402
10.0       170
9.0        141
12.0        80
13.0        46
Name: count, dtype: int64

HHADULT summary stats:
IYEAR
2024    438117
2025     19553
Name: count, dtype: int64

_STATE top 10:
_STATE
36.0    43913
53.0    25800
27.0    15199
24.0    14462
55.0    13096
12.0    13086
18.0    13050
49.0    12782
31.0    12671
48.0    12291
Name: count, dtype: int64

Age-like columns found: ['DIABAGE4', 'CNCRAGE', 'CAGEG', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', '_LCSAGE']

DIABAGE4 value counts (top 10):
DIABAGE4
NaN     391861
50.0      5936
60.0      4506
98.0      3897
40.0      3801
55.0      3794
45.0      3084
65.0      2632
70.0      1774
35.0      1686
Name: count, dtype: int64

CNCRAGE value counts (top 10):
CNCRAGE
NaN     443222
60.0       851
50.0       777
98.0       687
65.0       646
55.0       617
70.0       588
40.0       477
75.0       405
45.0       380
Name: count, dtype: int64

CAGEG value counts (top 10):
CAGEG
NaN    409465
3.0     13973
4.0     11715
2.0     11458
1.0     11059
Name: count, dtype: int64

_AGEG5YR value counts (top 10):
_AGEG5YR
10.0    47701
11.0    44774
9.0     43387
13.0    41756
12.0    36803
8.0     34936
7.0     31698
5.0     30899
1.0     29692
6.0     28968
Name: count, dtype: int64

_AGE65YR value counts (top 10):
_AGE65YR
1.0    278326
2.0    171034
3.0      8310
Name: count, dtype: int64

_AGE80 value counts (top 10):
_AGE80
80.0    41770
70.0    10484
65.0    10386
67.0     9810
68.0     9483
72.0     9440
62.0     9177
66.0     9124
60.0     9066
69.0     9062
Name: count, dtype: int64

_AGE_G value counts (top 10):
_AGE_G
6.0    172826
5.0     80280
4.0     64458
3.0     60418
2.0     49994
1.0     29694
Name: count, dtype: int64

_LCSAGE value counts (top 10):
_LCSAGE
2.0    252132
1.0    169855
3.0     35683
Name: count, dtype: int64

HHADULT (Number of adults in household) value counts (top 15):
HHADULT
2.0     182543
1.0      96588
NaN      81961
3.0      53756
4.0      26067
5.0       8557
6.0       2788
99.0      2231
77.0      1248
7.0        911
8.0        402
10.0       170
9.0        141
12.0        80
13.0        46
Name: count, dtype: int64

HHADULT summary stats:
count    372228.000000
mean          2.159104
std           1.132225
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          71.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    336299
1.0      48206
2.0      38838
3.0      16120
4.0       5672
NaN       5606
99.0      3773
5.0       1854
6.0        695
7.0        292
8.0        127
9.0         62
10.0        25
12.0        18
14.0        13
Name: count, dtype: int64

CHILDREN summary stats:
count    448290.000000
mean          0.484166
std           1.137459
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          83.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 121,371 (26.52%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    336299
2.0     48206
3.0     38838
4.0     16120
9.0      9379
5.0      5672
6.0      3155
NaN         1
Name: count, dtype: int64

Quick-check finished.
count    372228.000000
mean          2.159104
std           1.132225
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          71.000000
Name: HHADULT, dtype: float64

CHILDREN (Number of children in household) value counts (top 15):
CHILDREN
88.0    336299
1.0      48206
2.0      38838
3.0      16120
4.0       5672
NaN       5606
99.0      3773
5.0       1854
6.0        695
7.0        292
8.0        127
9.0         62
10.0        25
12.0        18
14.0        13
Name: count, dtype: int64

CHILDREN summary stats:
count    448290.000000
mean          0.484166
std           1.137459
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          83.000000
Name: CHILDREN, dtype: float64

Households with children (CHILDREN != 88): 121,371 (26.52%)

_CHLDCNT (Computed children count) value counts (top 10):
_CHLDCNT
1.0    336299
2.0     48206
3.0     38838
4.0     16120
9.0      9379
5.0      5672
6.0      3155
NaN         1
Name: count, dtype: int64

Quick-check finished.

In [16]:
# Field mapping & missing-value replacements (run this cell)
# Creates `data_cleaned` in globals(): cleaned DataFrames with derived fields:
#  - BMI (from _BMI5, handle 9999 -> NaN, divide by 100)
#  - DIABETES (binary), EVER_SMOKER, CURRENT_SMOKER
#  - ensure numeric _LLCPWT
#  - create Age_Group from common age columns (fallback to 'UNK')
import numpy as np
import pandas as pd
from IPython.display import display

datasets = globals().get('data_reloaded', {})
if not datasets:
    raise RuntimeError('No `data_reloaded` found in notebook. Run the reload cell (LLCP2020-2024) first.')

cleaned = {}
for name, df in datasets.items():
    dfc = df.copy()

    # _BMI5 -> BMI
    if '_BMI5' in dfc.columns:
        dfc['_BMI5'] = pd.to_numeric(dfc['_BMI5'], errors='coerce').replace({9999: np.nan})
        dfc['BMI'] = dfc['_BMI5'] / 100.0
    else:
        dfc['BMI'] = np.nan

    # DIABETE4 -> DIABETES (conservative mapping: 1->1, 2->0, else NaN)
    if 'DIABETE4' in dfc.columns:
        dfc['DIABETES'] = pd.to_numeric(dfc['DIABETE4'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['DIABETES'] = np.nan
    # Chronic conditions: map BRFSS condition variables (1->1, 2->0, else NaN)
    if 'CVDINFR4' in dfc.columns:
        dfc['HEART_ATTACK'] = pd.to_numeric(dfc['CVDINFR4'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['HEART_ATTACK'] = np.nan
    if 'CVDCRHD4' in dfc.columns:
        dfc['CHD'] = pd.to_numeric(dfc['CVDCRHD4'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['CHD'] = np.nan
    if 'CVDSTRK3' in dfc.columns:
        dfc['STROKE'] = pd.to_numeric(dfc['CVDSTRK3'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['STROKE'] = np.nan
    if 'ASTHMA3' in dfc.columns:
        dfc['ASTHMA'] = pd.to_numeric(dfc['ASTHMA3'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['ASTHMA'] = np.nan
    if 'ASTHNOW' in dfc.columns:
        dfc['ASTHMA_NOW'] = pd.to_numeric(dfc['ASTHNOW'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['ASTHMA_NOW'] = np.nan
    if 'CHCCOPD3' in dfc.columns:
        dfc['COPD'] = pd.to_numeric(dfc['CHCCOPD3'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['COPD'] = np.nan
    if 'CHCSCNC1' in dfc.columns:
        dfc['SKIN_CANCER'] = pd.to_numeric(dfc['CHCSCNC1'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['SKIN_CANCER'] = np.nan
    if 'CHCOCNC1' in dfc.columns:
        dfc['ANY_CANCER'] = pd.to_numeric(dfc['CHCOCNC1'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['ANY_CANCER'] = np.nan
    if 'CHCKDNY2' in dfc.columns:
        dfc['KIDNEY_DISEASE'] = pd.to_numeric(dfc['CHCKDNY2'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['KIDNEY_DISEASE'] = np.nan
    if 'HAVARTH4' in dfc.columns:
        dfc['ARTHRITIS'] = pd.to_numeric(dfc['HAVARTH4'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['ARTHRITIS'] = np.nan

    # SMOKE100 -> EVER_SMOKER (1->1,2->0)
    if 'SMOKE100' in dfc.columns:
        dfc['EVER_SMOKER'] = pd.to_numeric(dfc['SMOKE100'], errors='coerce').apply(lambda x: 1 if x==1 else (0 if x==2 else np.nan))
    else:
        dfc['EVER_SMOKER'] = np.nan

    # SMOKDAY2 -> CURRENT_SMOKER (1/2 -> 1, 3 -> 0)
    if 'SMOKDAY2' in dfc.columns:
        dfc['CURRENT_SMOKER'] = pd.to_numeric(dfc['SMOKDAY2'], errors='coerce').apply(lambda x: 1 if x in (1,2) else (0 if x==3 else np.nan))
    else:
        dfc['CURRENT_SMOKER'] = np.nan

    # Household composition variables
    # HHADULT: Number of adults in household (1-76 valid, 77=DK, 99=Refused, else NaN)
    if 'HHADULT' in dfc.columns:
        hh_adult = pd.to_numeric(dfc['HHADULT'], errors='coerce')
        dfc['NUM_ADULTS'] = hh_adult.apply(lambda x: x if (1 <= x <= 76) else np.nan)
    else:
        dfc['NUM_ADULTS'] = np.nan
    
    # CHILDREN: Number of children in household (1-87 valid, 88=None, 99=Refused)
    if 'CHILDREN' in dfc.columns:
        children = pd.to_numeric(dfc['CHILDREN'], errors='coerce')
        # 88 = None (0 children), 1-87 = actual count, 99 = Refused -> NaN
        dfc['NUM_CHILDREN'] = children.apply(lambda x: 0 if x == 88 else (x if (1 <= x <= 87) else np.nan))
    else:
        dfc['NUM_CHILDREN'] = np.nan
    
    # Create household size (adults + children) if both available
    if 'NUM_ADULTS' in dfc.columns and 'NUM_CHILDREN' in dfc.columns:
        dfc['HOUSEHOLD_SIZE'] = dfc['NUM_ADULTS'] + dfc['NUM_CHILDREN']
    else:
        dfc['HOUSEHOLD_SIZE'] = np.nan
    
    # Binary indicator: household with children
    if 'NUM_CHILDREN' in dfc.columns:
        dfc['HAS_CHILDREN'] = dfc['NUM_CHILDREN'].apply(lambda x: 1 if x > 0 else (0 if x == 0 else np.nan))
    else:
        dfc['HAS_CHILDREN'] = np.nan

    # ensure weight numeric
    if '_LLCPWT' in dfc.columns:
        dfc['_LLCPWT'] = pd.to_numeric(dfc['_LLCPWT'], errors='coerce')
    else:
        dfc['_LLCPWT'] = np.nan

    # ensure IYEAR exists
    if 'IYEAR' not in dfc.columns:
        try:
            dfc['IYEAR'] = int(name.replace('LLCP',''))
        except Exception:
            dfc['IYEAR'] = np.nan

    # Age_Group detection: prefer grouped age vars if present, else bin raw AGE-like
    age_col = None
    for cand in ['_AGEG5YR','AGEG5YR','_AGEG5','RIDAGE_G','RIDAGE','AGE']:
        if cand in dfc.columns:
            age_col = cand
            break
    if age_col:
        # If it's already a grouped age label, keep as Age_Group; otherwise bin numeric AGE
        if 'G' in age_col.upper() or 'AGEG' in age_col.upper():
            dfc['Age_Group'] = dfc[age_col].astype(object)
        else:
            ages = pd.to_numeric(dfc[age_col], errors='coerce')
            dfc['Age_Group'] = pd.cut(ages, bins=[0,17,34,49,64,74,120], labels=['0-17','18-34','35-49','50-64','65-74','75+'])
    else:
        dfc['Age_Group'] = 'UNK'

    # keep only a small set of useful columns + derived
    keep_cols = [c for c in dfc.columns if c in ['IYEAR','_STATE','_LLCPWT','_PSU','_STSTR','_BMI5','_BMI5CAT','_RFBMI5','SMOKE100','SMOKDAY2','DIABETE4','HHADULT','CHILDREN']]
    # ensure derived columns present in output
    for dc in ['BMI','DIABETES','EVER_SMOKER','CURRENT_SMOKER','Age_Group','NUM_ADULTS','NUM_CHILDREN','HOUSEHOLD_SIZE','HAS_CHILDREN']:
        if dc not in dfc.columns:
            dfc[dc] = np.nan
    # produce a cleaned minimal frame (but keep original for deeper work)
    cleaned[name] = dfc

# expose to globals
globals()['data_cleaned'] = cleaned

# show quick summary for each cleaned frame
for k,v in cleaned.items():
    print(f"{k}: shape={v.shape}")
    print('Columns sample:', list(v.columns)[:40])
    display(v[[c for c in ['IYEAR','_STATE','BMI','DIABETES','EVER_SMOKER','CURRENT_SMOKER','Age_Group','NUM_ADULTS','NUM_CHILDREN','HOUSEHOLD_SIZE','HAS_CHILDREN','_LLCPWT'] if c in v.columns]].head(5))

print('\nField mapping & missing-value replacement complete. `data_cleaned` available in globals().')

LLCP2020: shape=(401958, 298)
Columns sample: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHONE', 'LADULT1', 'COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'CHECKUP1']

,IYEAR,_STATE,BMI,DIABETES,EVER_SMOKER,CURRENT_SMOKER,Age_Group,NUM_ADULTS,NUM_CHILDREN,HOUSEHOLD_SIZE,HAS_CHILDREN,_LLCPWT
0,2020,1.0,16.60,1.0,1.0,1.0,8.0,NaN,0.0,NaN,0.0,284.335672
1,2020,1.0,29.18,NaN,NaN,NaN,10.0,NaN,0.0,NaN,0.0,171.283329
2,2020,1.0,NaN,NaN,0.0,NaN,10.0,NaN,0.0,NaN,0.0,1334.368863
3,2020,1.0,NaN,NaN,0.0,NaN,13.0,NaN,0.0,NaN,0.0,1297.486618
4,2020,1.0,20.34,NaN,0.0,NaN,13.0,NaN,0.0,NaN,0.0,454.815127

LLCP2021: shape=(438693, 322)
Columns sample: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PRIMINSR', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1']

,IYEAR,_STATE,BMI,DIABETES,EVER_SMOKER,CURRENT_SMOKER,Age_Group,NUM_ADULTS,NUM_CHILDREN,HOUSEHOLD_SIZE,HAS_CHILDREN,_LLCPWT
0,2021,1.0,14.54,NaN,1.0,0.0,11.0,NaN,0.0,NaN,0.0,744.745531
1,2021,1.0,NaN,1.0,0.0,NaN,10.0,NaN,0.0,NaN,0.0,299.137394
2,2021,1.0,28.29,1.0,0.0,NaN,11.0,NaN,0.0,NaN,0.0,587.862986
3,2021,1.0,33.47,1.0,0.0,NaN,9.0,NaN,0.0,NaN,0.0,1099.621573
4,2021,1.0,28.73,1.0,0.0,NaN,12.0,NaN,0.0,NaN,0.0,1711.825866

LLCP2022: shape=(445132, 347)
Columns sample: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'COLGSEX1', 'NUMADULT', 'LANDSEX1', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX1', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PRIMINSR', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1']

,IYEAR,_STATE,BMI,DIABETES,EVER_SMOKER,CURRENT_SMOKER,Age_Group,NUM_ADULTS,NUM_CHILDREN,HOUSEHOLD_SIZE,HAS_CHILDREN,_LLCPWT
0,2022,1.0,NaN,1.0,0.0,NaN,13.0,NaN,0.0,NaN,0.0,487.612985
1,2022,1.0,26.57,NaN,0.0,NaN,13.0,NaN,0.0,NaN,0.0,432.100273
2,2022,1.0,25.61,NaN,0.0,NaN,8.0,NaN,0.0,NaN,0.0,366.743194
3,2022,1.0,23.30,NaN,1.0,1.0,14.0,NaN,0.0,NaN,0.0,1681.791487
4,2022,1.0,21.77,NaN,0.0,NaN,5.0,NaN,0.0,NaN,0.0,2111.206286

LLCP2023: shape=(433323, 369)
Columns sample: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'NUMADULT', 'RESPSLC1', 'LANDSEX2', 'LNDSXBRT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX2', 'CELSXBRT', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PRIMINS1', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2']

,IYEAR,_STATE,BMI,DIABETES,EVER_SMOKER,CURRENT_SMOKER,Age_Group,NUM_ADULTS,NUM_CHILDREN,HOUSEHOLD_SIZE,HAS_CHILDREN,_LLCPWT
0,2023,1.0,30.47,1.0,0.0,NaN,13.0,NaN,0.0,NaN,0.0,605.427887
1,2023,1.0,28.56,NaN,0.0,NaN,13.0,NaN,0.0,NaN,0.0,1121.992705
2,2023,1.0,22.31,NaN,1.0,0.0,13.0,NaN,0.0,NaN,0.0,600.963308
3,2023,1.0,27.44,NaN,0.0,NaN,12.0,NaN,0.0,NaN,0.0,605.427887
4,2023,1.0,25.85,1.0,0.0,NaN,12.0,NaN,0.0,NaN,0.0,281.711042

LLCP2024: shape=(457670, 320)
Columns sample: ['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'NUMADULT', 'RESPSLC1', 'LANDSEX3', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX3', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PRIMINS2', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'LASTDEN4', 'RMVTETH4']

,IYEAR,_STATE,BMI,DIABETES,EVER_SMOKER,CURRENT_SMOKER,Age_Group,NUM_ADULTS,NUM_CHILDREN,HOUSEHOLD_SIZE,HAS_CHILDREN,_LLCPWT
0,2024,1.0,22.49,NaN,0.0,NaN,12.0,NaN,0.0,NaN,0.0,261.525511
1,2024,1.0,25.83,NaN,1.0,0.0,13.0,NaN,0.0,NaN,0.0,307.169688
2,2024,1.0,22.53,NaN,1.0,1.0,8.0,NaN,0.0,NaN,0.0,2939.862806
3,2024,1.0,25.09,NaN,0.0,NaN,13.0,NaN,0.0,NaN,0.0,153.584844
4,2024,1.0,19.77,NaN,0.0,NaN,6.0,NaN,0.0,NaN,0.0,1229.623036

Field mapping & missing-value replacement complete. `data_cleaned` available in globals().

In [ ]:
# Weighted aggregation by Year x State x Age_Group (run this cell)
# Computes weighted means/counts for key indicators and saves per-year and combined CSV (parquet optional if available).
import numpy as np
import pandas as pd
from pathlib import Path
from IPython.display import display

DATA_DIR = Path("2433_p3_data/healthcare.gov")
exports = DATA_DIR / "exports" / "aggregated"
exports.mkdir(parents=True, exist_ok=True)

cleaned = globals().get('data_cleaned', {})
if not cleaned:
    raise RuntimeError('`data_cleaned` not found in globals. Run the field-mapping cell first.')

agg_list = []

def weighted_mean(s, w):
    s = pd.to_numeric(s, errors='coerce')
    w = pd.to_numeric(w, errors='coerce')
    mask = s.notna() & w.notna()
    if mask.sum() == 0 or w[mask].sum() == 0:
        return np.nan
    return np.average(s[mask], weights=w[mask])

for name, df in cleaned.items():
    dfc = df.copy()
    # ensure weight
    if '_LLCPWT' not in dfc.columns or dfc['_LLCPWT'].isna().all():
        dfc['_LLCPWT'] = 1.0

    # ensure grouping cols
    if 'Age_Group' not in dfc.columns:
        dfc['Age_Group'] = 'UNK'

    group_cols = [c for c in ['IYEAR','_STATE','Age_Group'] if c in dfc.columns]
    if not group_cols:
        print(f"Skipping {name}: no grouping columns present: {list(dfc.columns)[:20]}")
        continue

    # ensure indicator columns exist
    for col in ['BMI','EVER_SMOKER','CURRENT_SMOKER','DIABETES',
                'HEART_ATTACK','CHD','STROKE','ASTHMA','ASTHMA_NOW','COPD',
               'SKIN_CANCER','ANY_CANCER','KIDNEY_DISEASE','ARTHRITIS',
                'NUM_ADULTS','NUM_CHILDREN','HOUSEHOLD_SIZE','HAS_CHILDREN']:
        if col not in dfc.columns:
            dfc[col] = np.nan

    # Vectorized weighted aggregation (avoid groupby.apply and optional parquet dependency)
    metrics = ['BMI','EVER_SMOKER','CURRENT_SMOKER','DIABETES',
               'HEART_ATTACK','CHD','STROKE','ASTHMA','ASTHMA_NOW','COPD',
               'SKIN_CANCER','ANY_CANCER','KIDNEY_DISEASE','ARTHRITIS',
               'NUM_ADULTS','NUM_CHILDREN','HOUSEHOLD_SIZE','HAS_CHILDREN']

    # ensure numeric for metrics and build weighted numerator/denominator cols
    for col in metrics:
        dfc[col] = pd.to_numeric(dfc[col], errors='coerce')
        # weighted numerator (treat NaN as 0 in numerator)
        dfc[f"{col}_wnum"] = dfc[col].fillna(0.0) * dfc['_LLCPWT']
        # weighted denominator: weight only where metric is present
        dfc[f"{col}_wden"] = dfc['_LLCPWT'] * dfc[col].notna().astype(float)

    # build aggregation dict for groupby.agg
    agg_dict = {
        'n': ('_LLCPWT', 'size'),
        'n_weighted': ('_LLCPWT', 'sum')
    }
    # add sum of weighted numerators and denominators for each metric
    for col in metrics:
        agg_dict[f"{col}_num"] = (f"{col}_wnum", 'sum')
        agg_dict[f"{col}_den"] = (f"{col}_wden", 'sum')

    g = dfc.groupby(group_cols)
    agg = g.agg(**agg_dict).reset_index()

    # compute final weighted means / prevalences from aggregated sums
    def safe_div(num, den):
        with np.errstate(divide='ignore', invalid='ignore'):
            out = num / den
        return out.replace([np.inf, -np.inf], np.nan)

    # mean BMI
    if 'BMI_num' in agg.columns and 'BMI_den' in agg.columns:
        agg['mean_BMI_w'] = safe_div(agg['BMI_num'], agg['BMI_den'])
    else:
        agg['mean_BMI_w'] = np.nan

    # map prevalences (lowercase names for consistency with previous outputs)
    for col in ['EVER_SMOKER','CURRENT_SMOKER','DIABETES','HEART_ATTACK','CHD','STROKE','ASTHMA','ASTHMA_NOW','COPD','SKIN_CANCER','ANY_CANCER','KIDNEY_DISEASE','ARTHRITIS','HAS_CHILDREN']:
        num_col = f"{col}_num"
        den_col = f"{col}_den"
        prev_col = f"{col.lower()}_prev_w"
        if num_col in agg.columns and den_col in agg.columns:
            agg[prev_col] = safe_div(agg[num_col], agg[den_col])
        else:
            agg[prev_col] = np.nan
    
    # Household composition: weighted means for continuous variables
    for col in ['NUM_ADULTS','NUM_CHILDREN','HOUSEHOLD_SIZE']:
        num_col = f"{col}_num"
        den_col = f"{col}_den"
        mean_col = f"mean_{col.lower()}_w"
        if num_col in agg.columns and den_col in agg.columns:
            agg[mean_col] = safe_div(agg[num_col], agg[den_col])
        else:
            agg[mean_col] = np.nan

    # drop intermediate numerator/denominator columns
    drop_cols = [c for c in agg.columns if c.endswith('_num') or c.endswith('_den')]
    agg = agg.drop(columns=drop_cols)

    agg['source'] = name
    # save per-year: always write CSV; try parquet only if supported in environment
    out_parquet = exports / f"aggregated_{name}.parquet"
    out_csv = exports / f"aggregated_{name}.csv"
    try:
        agg.to_csv(out_csv, index=False)
        try:
            agg.to_parquet(out_parquet, index=False)
            print(f"Saved aggregated for {name}: {out_parquet} rows={len(agg)} (parquet+csv)")
        except Exception:
            print(f"Saved aggregated for {name}: {out_csv} rows={len(agg)} (parquet skipped)")
    except Exception as e:
        print(f"Warning: failed to save aggregated for {name}: {e}")

    agg_list.append(agg)

if agg_list:
    aggregated_all = pd.concat(agg_list, ignore_index=True, sort=False)
    all_parquet = exports / "aggregated_all_years.parquet"
    all_csv = exports / "aggregated_all_years.csv"
    try:
        aggregated_all.to_csv(all_csv, index=False)
        try:
            aggregated_all.to_parquet(all_parquet, index=False)
            print(f"Saved combined aggregated to {all_parquet} rows={len(aggregated_all)} (parquet+csv)")
        except Exception:
            print(f"Saved combined aggregated to {all_csv} rows={len(aggregated_all)} (parquet skipped)")
    except Exception as e:
        print(f"Warning: failed to save combined aggregated: {e}")
    display(aggregated_all.head(10))
    globals()['aggregated'] = aggregated_all
else:
    print('No aggregated output produced (no groups found).')

Saved aggregated for LLCP2020: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2020.csv rows=1328 (parquet skipped)
Saved aggregated for LLCP2021: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2021.csv rows=1422 (parquet skipped)
Saved aggregated for LLCP2021: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2021.csv rows=1422 (parquet skipped)
Saved aggregated for LLCP2022: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2022.csv rows=1480 (parquet skipped)
Saved aggregated for LLCP2022: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2022.csv rows=1480 (parquet skipped)
Saved aggregated for LLCP2023: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2023.csv rows=1384 (parquet skipped)
Saved aggregated for LLCP2023: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2023.csv rows=1384 (parquet skipped)
Saved aggregated for LLCP2024: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2024.csv rows=1357 (parquet skipped)
Saved combined aggregated to 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_all_years.csv rows=6971 (parquet skipped)
Saved aggregated for LLCP2024: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_LLCP2024.csv rows=1357 (parquet skipped)
Saved combined aggregated to 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_all_years.csv rows=6971 (parquet skipped)

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2020,1.0,1.0,307,446509.128520,27.767332,0.219945,0.524461,0.806859,0.005437,0.006528,0.000000,0.179758,0.587927,NaN,NaN,NaN,0.000000,0.064581,LLCP2020
1,2020,1.0,2.0,244,279574.605557,28.576676,0.363987,0.535601,0.847979,0.000000,0.011115,0.017697,0.193980,0.445996,NaN,NaN,NaN,0.011232,0.083737,LLCP2020
2,2020,1.0,3.0,320,342219.569810,30.085542,0.438455,0.508013,0.794171,0.000000,0.009701,0.005929,0.177344,0.581398,NaN,NaN,NaN,0.014755,0.113673,LLCP2020
3,2020,1.0,4.0,313,270409.535248,30.302965,0.522425,0.519121,0.746045,0.016937,0.016963,0.021908,0.110263,0.567614,NaN,NaN,NaN,0.017117,0.164671,LLCP2020
4,2020,1.0,5.0,332,308964.846236,30.359079,0.413647,0.695448,0.811031,0.018250,0.016750,0.009967,0.163075,0.682882,NaN,NaN,NaN,0.025992,0.238604,LLCP2020
5,2020,1.0,6.0,346,245548.269815,30.817545,0.481296,0.556599,0.931223,0.027647,0.033338,0.020781,0.134755,0.602591,NaN,NaN,NaN,0.029449,0.301246,LLCP2020
6,2020,1.0,7.0,439,317080.285988,30.698504,0.452268,0.428541,0.940291,0.057123,0.044794,0.066510,0.113998,0.642616,NaN,NaN,NaN,0.066419,0.348664,LLCP2020
7,2020,1.0,8.0,452,272048.619095,29.741573,0.507288,0.485755,0.983735,0.069600,0.043501,0.045325,0.126766,0.796800,NaN,NaN,NaN,0.045784,0.506383,LLCP2020
8,2020,1.0,9.0,547,359959.055572,29.961831,0.483860,0.394119,0.974725,0.083290,0.090233,0.083022,0.177178,0.705363,NaN,NaN,NaN,0.077004,0.554145,LLCP2020
9,2020,1.0,10.0,615,277014.562571,30.019158,0.489529,0.329248,1.000000,0.097934,0.093272,0.067625,0.118746,0.721661,NaN,NaN,NaN,0.039688,0.525308,LLCP2020

In [12]:
# Inspect exported aggregated files and show first 5 rows for each; also display aggregated_all_years.csv head(20)
from pathlib import Path
import pandas as pd
from IPython.display import display

exports = Path("2433_p3_data/healthcare.gov/exports/aggregated")
print(f"Looking in: {exports}")
if not exports.exists():
    print("Exports directory not found.")
else:
    files = sorted(exports.glob("*"))
    if not files:
        print("No files found in exports directory.")
    else:
        for f in files:
            print('\n' + '='*80)
            try:
                size = f.stat().st_size
            except Exception:
                size = 'unknown'
            print(f"File: {f.name}  size: {size}")
            try:
                if f.suffix.lower() == '.csv':
                    df = pd.read_csv(f)
                elif f.suffix.lower() in ('.parquet', '.pq'):
                    try:
                        df = pd.read_parquet(f)
                    except Exception as e:
                        print(f"  Could not read parquet {f.name}: {e}")
                        continue
                else:
                    print("  Skipping unsupported file type")
                    continue
                display(df.head(5))
            except Exception as e:
                print(f"  Error reading {f.name}: {e}")

# Now explicitly read aggregated_all_years.csv and show first 20 rows (if present)
all_file = exports / 'aggregated_all_years.csv'
print('\n' + '='*80)
print(f"Inspecting combined file: {all_file}")
if all_file.exists():
    try:
        df_all = pd.read_csv(all_file, low_memory=False)
        print(f"Shape: {df_all.shape}")
        print('\nColumn dtypes:')
        print(df_all.dtypes.to_string())
        print('\nFirst 20 rows:')
        display(df_all.head(20))
        # expose for interactive use
        globals()['preview_aggregated_all_years'] = df_all.head(20)
    except Exception as e:
        print(f"Failed to read {all_file}: {e}")
else:
    print('Combined aggregated CSV not found.')

Looking in: 2433_p3_data/healthcare.gov/exports/aggregated

================================================================================
File: aggregated_LLCP2020.csv  size: 289466

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2020,1.0,1.0,307,446509.128520,27.767332,0.219945,0.524461,0.806859,0.005437,0.006528,0.000000,0.179758,0.587927,NaN,NaN,NaN,0.000000,0.064581,LLCP2020
1,2020,1.0,2.0,244,279574.605557,28.576676,0.363987,0.535601,0.847979,0.000000,0.011115,0.017697,0.193980,0.445996,NaN,NaN,NaN,0.011232,0.083737,LLCP2020
2,2020,1.0,3.0,320,342219.569810,30.085542,0.438455,0.508013,0.794171,0.000000,0.009701,0.005929,0.177344,0.581398,NaN,NaN,NaN,0.014755,0.113673,LLCP2020
3,2020,1.0,4.0,313,270409.535248,30.302965,0.522425,0.519121,0.746045,0.016937,0.016963,0.021908,0.110263,0.567614,NaN,NaN,NaN,0.017117,0.164671,LLCP2020
4,2020,1.0,5.0,332,308964.846236,30.359079,0.413647,0.695448,0.811031,0.018250,0.016750,0.009967,0.163075,0.682882,NaN,NaN,NaN,0.025992,0.238604,LLCP2020

================================================================================
File: aggregated_LLCP2021.csv  size: 319661

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2021,1.0,1.0,246,455225.471750,26.835264,0.125732,0.406041,1.000000,0.008653,0.002386,0.013856,0.247029,0.467694,0.006174,NaN,NaN,0.019893,NaN,LLCP2021
1,2021,1.0,2.0,215,275459.940396,28.936857,0.381659,0.455662,0.810238,0.012384,0.006573,0.011867,0.140502,0.623512,0.041525,NaN,NaN,0.000000,NaN,LLCP2021
2,2021,1.0,3.0,243,352086.578917,31.213439,0.436647,0.521387,0.860341,0.003943,0.007928,0.012094,0.177566,0.587017,0.044419,NaN,NaN,0.013787,NaN,LLCP2021
3,2021,1.0,4.0,263,285745.476339,29.411720,0.551144,0.474051,0.727418,0.004779,0.004723,0.004556,0.167040,0.604679,0.055182,NaN,NaN,0.011219,NaN,LLCP2021
4,2021,1.0,5.0,272,303784.728397,30.980626,0.487550,0.505322,0.770837,0.015240,0.013639,0.028203,0.137905,0.599995,0.081714,NaN,NaN,0.030828,NaN,LLCP2021

================================================================================
File: aggregated_LLCP2022.csv  size: 408291

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2022,1.0,1.0,183,454121.157330,25.889748,0.177619,0.567970,0.736860,0.003460,0.013614,0.000000,0.251174,0.366975,0.026103,0.000000,0.005682,0.006893,0.053960,LLCP2022
1,2022,1.0,2.0,188,281651.686825,28.630000,0.350211,0.565021,0.652435,0.000000,0.000000,0.006467,0.147793,0.270781,0.013507,0.005634,0.043476,0.004392,0.046219,LLCP2022
2,2022,1.0,3.0,210,328113.350772,29.749300,0.378565,0.508624,0.744588,0.013431,0.020196,0.004323,0.177712,0.635593,0.055865,0.011369,0.004254,0.006550,0.119443,LLCP2022
3,2022,1.0,4.0,244,259496.142017,30.101444,0.480568,0.430893,0.718615,0.009828,0.011480,0.039332,0.154961,0.678373,0.047670,0.038200,0.021531,0.017869,0.155199,LLCP2022
4,2022,1.0,5.0,239,318626.332734,30.716991,0.403497,0.423352,0.798838,0.019669,0.027593,0.037286,0.189628,0.599878,0.047076,0.009415,0.032501,0.022721,0.237833,LLCP2022

================================================================================
File: aggregated_LLCP2023.csv  size: 372404

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2023,1.0,1.0,209,484020.001912,26.891099,0.172098,0.314988,1.000000,0.003473,0.005302,0.005875,0.208682,0.313170,0.017636,0.000000,0.004795,0.008516,0.036032,LLCP2023
1,2023,1.0,2.0,184,250583.144045,29.522418,0.327021,0.330862,0.927231,0.012414,0.004466,0.005842,0.160245,0.349066,0.051630,0.004466,0.003143,0.005935,0.062615,LLCP2023
2,2023,1.0,3.0,225,332833.966697,29.496791,0.381597,0.501178,0.791206,0.003985,0.010915,0.019973,0.177149,0.614281,0.025973,0.011339,0.021079,0.022813,0.084018,LLCP2023
3,2023,1.0,4.0,237,278739.639803,30.207312,0.406061,0.362777,0.700231,0.002737,0.000000,0.021764,0.154289,0.639411,0.028147,0.024313,0.022782,0.004436,0.111745,LLCP2023
4,2023,1.0,5.0,242,302276.268894,30.479497,0.422690,0.421050,0.930196,0.024374,0.020963,0.033907,0.186516,0.616666,0.049180,0.023979,0.031354,0.014898,0.212405,LLCP2023

================================================================================
File: aggregated_LLCP2024.csv  size: 365955

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2024,1.0,1.0,255,444478.657665,27.448627,0.118510,0.499615,0.744914,0.000000,0.006192,0.015196,0.219736,0.571170,0.017695,0.005708,0.000000,0.020168,0.051736,LLCP2024
1,2024,1.0,2.0,218,269454.604133,29.788517,0.274015,0.328217,0.786544,0.000000,0.010605,0.005479,0.245704,0.681906,0.037683,0.006330,0.018915,0.005517,0.088235,LLCP2024
2,2024,1.0,3.0,233,322273.979829,29.855462,0.476065,0.341489,0.706446,0.005006,0.003896,0.008389,0.198206,0.610096,0.045365,0.015340,0.013734,0.000000,0.129534,LLCP2024
3,2024,1.0,4.0,281,260516.572064,30.185772,0.458301,0.460292,0.702095,0.015017,0.013894,0.011217,0.159296,0.624612,0.054405,0.025471,0.017518,0.025292,0.162239,LLCP2024
4,2024,1.0,5.0,296,299162.062568,29.923819,0.452370,0.378697,0.863163,0.042803,0.012438,0.022835,0.144471,0.583930,0.043331,0.018897,0.023558,0.028511,0.243044,LLCP2024

================================================================================
File: aggregated_all_years.csv  size: 1754673

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2020,1.0,1.0,307,446509.128520,27.767332,0.219945,0.524461,0.806859,0.005437,0.006528,0.000000,0.179758,0.587927,NaN,NaN,NaN,0.000000,0.064581,LLCP2020
1,2020,1.0,2.0,244,279574.605557,28.576676,0.363987,0.535601,0.847979,0.000000,0.011115,0.017697,0.193980,0.445996,NaN,NaN,NaN,0.011232,0.083737,LLCP2020
2,2020,1.0,3.0,320,342219.569810,30.085542,0.438455,0.508013,0.794171,0.000000,0.009701,0.005929,0.177344,0.581398,NaN,NaN,NaN,0.014755,0.113673,LLCP2020
3,2020,1.0,4.0,313,270409.535248,30.302965,0.522425,0.519121,0.746045,0.016937,0.016963,0.021908,0.110263,0.567614,NaN,NaN,NaN,0.017117,0.164671,LLCP2020
4,2020,1.0,5.0,332,308964.846236,30.359079,0.413647,0.695448,0.811031,0.018250,0.016750,0.009967,0.163075,0.682882,NaN,NaN,NaN,0.025992,0.238604,LLCP2020

================================================================================
Inspecting combined file: 2433_p3_data/healthcare.gov/exports/aggregated/aggregated_all_years.csv
Shape: (6971, 20)

Column dtypes:
IYEAR                      int64
_STATE                   float64
Age_Group                float64
n                          int64
n_weighted               float64
mean_BMI_w               float64
ever_smoker_prev_w       float64
current_smoker_prev_w    float64
diabetes_prev_w          float64
heart_attack_prev_w      float64
chd_prev_w               float64
stroke_prev_w            float64
asthma_prev_w            float64
asthma_now_prev_w        float64
copd_prev_w              float64
skin_cancer_prev_w       float64
any_cancer_prev_w        float64
kidney_disease_prev_w    float64
arthritis_prev_w         float64
source                    object

First 20 rows:

,IYEAR,_STATE,Age_Group,n,n_weighted,mean_BMI_w,ever_smoker_prev_w,current_smoker_prev_w,diabetes_prev_w,heart_attack_prev_w,chd_prev_w,stroke_prev_w,asthma_prev_w,asthma_now_prev_w,copd_prev_w,skin_cancer_prev_w,any_cancer_prev_w,kidney_disease_prev_w,arthritis_prev_w,source
0,2020,1.0,1.0,307,446509.128520,27.767332,0.219945,0.524461,0.806859,0.005437,0.006528,0.000000,0.179758,0.587927,NaN,NaN,NaN,0.000000,0.064581,LLCP2020
1,2020,1.0,2.0,244,279574.605557,28.576676,0.363987,0.535601,0.847979,0.000000,0.011115,0.017697,0.193980,0.445996,NaN,NaN,NaN,0.011232,0.083737,LLCP2020
2,2020,1.0,3.0,320,342219.569810,30.085542,0.438455,0.508013,0.794171,0.000000,0.009701,0.005929,0.177344,0.581398,NaN,NaN,NaN,0.014755,0.113673,LLCP2020
3,2020,1.0,4.0,313,270409.535248,30.302965,0.522425,0.519121,0.746045,0.016937,0.016963,0.021908,0.110263,0.567614,NaN,NaN,NaN,0.017117,0.164671,LLCP2020
4,2020,1.0,5.0,332,308964.846236,30.359079,0.413647,0.695448,0.811031,0.018250,0.016750,0.009967,0.163075,0.682882,NaN,NaN,NaN,0.025992,0.238604,LLCP2020
5,2020,1.0,6.0,346,245548.269815,30.817545,0.481296,0.556599,0.931223,0.027647,0.033338,0.020781,0.134755,0.602591,NaN,NaN,NaN,0.029449,0.301246,LLCP2020
6,2020,1.0,7.0,439,317080.285988,30.698504,0.452268,0.428541,0.940291,0.057123,0.044794,0.066510,0.113998,0.642616,NaN,NaN,NaN,0.066419,0.348664,LLCP2020
7,2020,1.0,8.0,452,272048.619095,29.741573,0.507288,0.485755,0.983735,0.069600,0.043501,0.045325,0.126766,0.796800,NaN,NaN,NaN,0.045784,0.506383,LLCP2020
8,2020,1.0,9.0,547,359959.055572,29.961831,0.483860,0.394119,0.974725,0.083290,0.090233,0.083022,0.177178,0.705363,NaN,NaN,NaN,0.077004,0.554145,LLCP2020
9,2020,1.0,10.0,615,277014.562571,30.019158,0.489529,0.329248,1.000000,0.097934,0.093272,0.067625,0.118746,0.721661,NaN,NaN,NaN,0.039688,0.525308,LLCP2020
10,2020,1.0,11.0,497,238130.781420,28.718539,0.472404,0.203620,0.991139,0.158696,0.139265,0.093312,0.107649,0.776958,NaN,NaN,NaN,0.057570,0.603606,LLCP2020
11,2020,1.0,12.0,373,165504.007791,28.552672,0.563078,0.144024,1.000000,0.131610,0.151472,0.088042,0.160127,0.649823,NaN,NaN,NaN,0.088966,0.596337,LLCP2020
12,2020,1.0,13.0,385,184763.470551,26.082413,0.435855,0.070067,1.000000,0.091608,0.163907,0.108668,0.104958,0.574021,NaN,NaN,NaN,0.115105,0.581473,LLCP2020
13,2020,1.0,14.0,76,53909.611884,28.134365,0.382642,0.101843,1.000000,0.016490,0.073600,0.059179,0.069018,1.000000,NaN,NaN,NaN,0.038753,0.536481,LLCP2020
14,2020,2.0,1.0,210,69242.268151,25.912623,0.143723,0.686588,1.000000,0.004628,0.000000,0.000000,0.113672,0.294738,NaN,NaN,NaN,0.000000,0.015410,LLCP2020
15,2020,2.0,2.0,179,49060.272218,26.558431,0.445567,0.622076,0.637652,0.000000,0.000000,0.000000,0.125137,0.534708,NaN,NaN,NaN,0.000444,0.043132,LLCP2020
16,2020,2.0,3.0,241,61931.574345,29.265010,0.502677,0.504029,0.413962,0.002701,0.012490,0.022212,0.270937,0.618798,NaN,NaN,NaN,0.001220,0.075488,LLCP2020
17,2020,2.0,4.0,269,47250.960208,28.847248,0.403986,0.501125,0.440889,0.001903,0.000000,0.005505,0.147081,0.774056,NaN,NaN,NaN,0.009000,0.082365,LLCP2020
18,2020,2.0,5.0,255,47567.139011,28.263662,0.523198,0.388339,0.909208,0.004927,0.000000,0.011560,0.131480,0.779857,NaN,NaN,NaN,0.013385,0.115941,LLCP2020
19,2020,2.0,6.0,220,33037.663154,29.625908,0.463735,0.372639,0.798476,0.049115,0.064874,0.007459,0.195756,0.541196,NaN,NaN,NaN,0.016673,0.277300,LLCP2020

In [22]:
# Export ACA-allowed variables from combined aggregated table
# Only keep groups that contain household-derived aggregated values.
from pathlib import Path
import pandas as pd
from IPython.display import display

exports_base = Path("2433_p3_data/healthcare.gov/exports")
aca_dir = exports_base / "aca_allowed"
aca_dir.mkdir(parents=True, exist_ok=True)

agg_file = exports_base / "aggregated" / "aggregated_all_years.csv"
if not agg_file.exists():
    print(f"Aggregated file not found: {agg_file}")
else:
    # read (low_memory False to avoid dtype inference problems)
    df = pd.read_csv(agg_file, low_memory=False)
    print(f"Loaded aggregated_all_years.csv shape={df.shape}")

    # define ACA-allowed variables to keep
    allowed_cols = [
        'IYEAR',            # interview year
        '_STATE',           # state FIPS (geography)
        'Age_Group',        # age group (if available)
        'n',                # sample count
        'n_weighted',       # weighted sample count
        'ever_smoker_prev_w',
        'current_smoker_prev_w',
        'source'            # original source/year tag
    ]

    present = [c for c in allowed_cols if c in df.columns]
    missing = [c for c in allowed_cols if c not in df.columns]
    print(f"Present columns: {present}")
    if missing:
        print(f"Warning - some allowed columns missing from aggregated data: {missing}")

    # Identify household-derived aggregated columns (if present)
    household_candidates = ['mean_num_adults_w','mean_num_children_w','mean_household_size_w','has_children_prev_w']
    household_present = [c for c in household_candidates if c in df.columns]
    if not household_present:
        print('No household aggregate columns found in combined aggregated file - no household-filtered ACA export will be written.')
    else:
        print(f"Found household aggregate columns: {household_present}")

        # Build frame including ACA columns + household columns (only columns that exist)
        cols_to_keep = present + household_present
        df_hw = df[cols_to_keep].copy()

        # Filter to only rows where at least one household column is non-null
        mask = df_hw[household_present].notna().any(axis=1)
        df_hw = df_hw.loc[mask].reset_index(drop=True)
        print(f"Groups with household data: {len(df_hw)} (out of {len(df)})")

        if df_hw.empty:
            print('After filtering, no groups contain household data. No file written.')
        else:
            # Normalize Age_Group
            if 'Age_Group' in df_hw.columns:
                df_hw['Age_Group'] = df_hw['Age_Group'].astype(str).replace({'nan':'UNK'})

            # Write filtered ACA export (only groups with household data)
            out_csv = aca_dir / 'aggregated_aca_allowed.csv'
            try:
                df_hw.to_csv(out_csv, index=False)
                print(f"Wrote household-filtered ACA export to: {out_csv}  shape={df_hw.shape}")
            except Exception as e:
                print(f"Failed to write household-filtered ACA export: {e}")

            # Also expose preview in kernel for interactive use
            globals()['preview_aca_allowed'] = df_hw.head(50)
            print('\nPreview (ACA - first 10 rows):')
            display(df_hw.head(10))

Loaded aggregated_all_years.csv shape=(6971, 24)
Present columns: ['IYEAR', '_STATE', 'Age_Group', 'n', 'n_weighted', 'ever_smoker_prev_w', 'current_smoker_prev_w', 'source']
Found household aggregate columns: ['mean_num_adults_w', 'mean_num_children_w', 'mean_household_size_w', 'has_children_prev_w']
Groups with household data: 6969 (out of 6971)
Wrote household-filtered ACA export to: 2433_p3_data/healthcare.gov/exports/aca_allowed/aggregated_aca_allowed.csv  shape=(6969, 12)

Preview (ACA - first 10 rows):

,IYEAR,_STATE,Age_Group,n,n_weighted,ever_smoker_prev_w,current_smoker_prev_w,source,mean_num_adults_w,mean_num_children_w,mean_household_size_w,has_children_prev_w
0,2020,1.0,1.0,307,446509.128520,0.219945,0.524461,LLCP2020,2.563891,0.554231,3.134054,0.403329
1,2020,1.0,2.0,244,279574.605557,0.363987,0.535601,LLCP2020,2.016937,1.013901,3.045903,0.538150
2,2020,1.0,3.0,320,342219.569810,0.438455,0.508013,LLCP2020,1.992775,1.478668,3.499861,0.671890
3,2020,1.0,4.0,313,270409.535248,0.522425,0.519121,LLCP2020,2.031705,1.622951,3.654077,0.735609
4,2020,1.0,5.0,332,308964.846236,0.413647,0.695448,LLCP2020,2.153344,1.412142,3.515449,0.700762
5,2020,1.0,6.0,346,245548.269815,0.481296,0.556599,LLCP2020,2.194885,0.836456,3.022588,0.488738
6,2020,1.0,7.0,439,317080.285988,0.452268,0.428541,LLCP2020,2.314699,0.472963,2.810449,0.297377
7,2020,1.0,8.0,452,272048.619095,0.507288,0.485755,LLCP2020,2.169307,0.279215,2.451525,0.171557
8,2020,1.0,9.0,547,359959.055572,0.483860,0.394119,LLCP2020,2.111464,0.222556,2.354999,0.146164
9,2020,1.0,10.0,615,277014.562571,0.489529,0.329248,LLCP2020,1.950278,0.166994,2.105452,0.089273